<table>
    <tbody>
        <tr *ngFor="let game of games">
            <td style="width: 20%"><img [src]="game.teams.home.logo" /></td>
            <td style="width: 20%">{{ game.teams.home.name }}</td>
            <td style="width: 5%">{{ game.goals.home }}</td>
            <td style="width: 10%"> - </td>
            <td style="width: 5%">{{ game.goals.away }}</td>
            <td style="width: 20%">{{ game.teams.away.name }}</td>
            <td style="width: 20%"><img [src]="game.teams.away.logo" /></td>
        </tr>
    </tbody>
</table>