<table>
    <thead>
        <tr>
            <th></th>
            <th></th>
            <th>Name</th>
            <th>Games</th>
            <th>W</th>
            <th>L</th>
            <th>D</th>
            <th>Goal Difference</th>
            <th>Points</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let teamResult of standings">
            <td>{{ teamResult.rank }}</td>
            <td><img [src]="teamResult.team.logo" /></td>
            <td><a [routerLink]="'/teams/' + teamResult.team.id + '/games'">{{ teamResult.team.name }}</a></td>
            <td>{{ teamResult.all.played }}</td>
            <td>{{ teamResult.all.win }}</td>
            <td>{{ teamResult.all.lose }}</td>
            <td>{{ teamResult.all.draw }}</td>
            <td>{{ teamResult.goalsDiff }}</td>
            <td>{{ teamResult.points }}</td>
        </tr>
    </tbody>
</table>